<!--
 * @Author: Yh
 * @LastEditors: Yh
-->
<template>
	<view class="content">
		<uni-swiper-dot :info="bannerList" :current="current" field="content" :mode="mode" class="uni-swiper-dot">
			<swiper class="swiper-box" @change="handlerChange">
				<swiper-item v-for="(item ,index) in bannerList" :key="index">
					<view class="swiper-item">
						<cover-image :src="item.imgUrl" />
					</view>
				</swiper-item>
			</swiper>
		</uni-swiper-dot>
		<view>
			<text class="title" @click="handleToDetail">{{title}}</text>
		</view>
	</view>
</template>

<script>
	import { getBannerData } from "@/api/index"
	export default {
		data() {
			return {
				title: 'Hello',
				bannerList: [],
				current: 0,
				mode: 'round',
			}
		},
		onLoad() {
			this.getBannerListData();
		},
		methods: {
			async getBannerListData(){
				const data = await getBannerData();
				this.bannerList = data;
			},
			handlerChange(e){
				this.current = e.detail.current;
			},
			handleToDetail(){
				// uni就是一个全局变量
				uni.navigateTo({
					url: '/pages/detail/index?id='+'18',
					success() {
						console.log('success---')
					},
					fail(error){
						console.log('fail', error)
					}
				})
			}
		}
	}
</script>

<style lang="scss">
	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.uni-swiper-dot {
		width: 100%;
		.uni-swiper__warp{
			width: 100%;
		}
		.uni-swiper__dots-box {
			width: 100%;
			margin: 0 auto;
		}
		.uni-swiper__dots-item .uni-swiper__dots-long {

		}
	}
	
	.swiper-box{
		width: 100%
	}
</style>
