<!--
 * @Author: Yh
 * @LastEditors: Yh
-->
<template>
  <div class="container">
    <picker-view :indicator-style="indicatorStyle" :value="value" class="picker-view" @change="bindChange"> 
      <picker-view-column v-for="(item,i) in addressData" :key="i" class="picker-view-column">
        <view v-for="val in item" :key="val.areaId">{{val.areaName}}</view>
      </picker-view-column>
    </picker-view>
  </div>
</template>
<script>
import { getAddressList } from "@/api/address"
export default {
  data(){
    return {
      indicatorStyle: `height: 50px;`,
      value:[0,0,0], // 选中值
      addressData:[[],[],[]] // [[],[],[]]
    }
  },
  async onLoad(){
    // 新建初始获取数据
    // i 下标  pid areaId
    await this.getAddressData(0,0);
  },
  methods:{
    async getAddressData(i,pid){
      for(;i<this.addressData.length; i++){
        const data = await getAddressList(pid); // i=0 请求的省份数据 i=1 请求的市 i=2的时候请求 区
        pid = data[0].areaId;
        this.$set(this.addressData,i,data);
      }
      console.log(this.addressData);
    },
    getDiffIndex(curIndexs, indexs){
      let res = 0;
      // console.log(curIndexs, indexs);
      for(;res<curIndexs.length;res++){
        if(curIndexs[res] !== indexs[res]){
          break;
        }
      }
      return res;
    },
    setChangeDefultIndex(arr, index){
      return arr.map((val,i) => i <= index ? val : 0);
    },
    async bindChange({detail}){
      const index = this.getDiffIndex(detail.value, this.value);
      // [[{},{},{}],[]]
      await this.getAddressData(index + 1, this.addressData[index][detail.value[index]].areaId);
      this.value = this.setChangeDefultIndex(detail.value,index);
    }
  }
}
</script>
<style lang="scss">
  .picker-view {
    height: 200px;
    .picker-view-column {
      height: 100%;
    }
  }
</style>