<!--
 * @Author: Yh
 * @LastEditors: Yh
-->
<template>
  <div v-if="detailData">
    详情
    <button @click="hanlderShowPopup">加入购物车</button>
    <uni-popup ref="popup" type="bottom">
      <view class="sku-container">
        <dl class="sku-dl">
          <dt>
            <img :src="shopSkuSelected.images" />
          </dt>
          <dd>
            <p>{{shopSkuSelected.skuPrice}}</p>
            <p>已选：{{skuInfo}}</p>
          </dd>
        </dl>
        <view v-for="(item,i) in shopSkuSelected.skuList" :key="i" class="sku-item">
          <h3>{{item.propertyName}}</h3>
          <view>
            <button 
              v-for="(val,index) in item.propertyArr" 
              :key="index" 
              :class="{
                active: val === item.propertyCheckedName,
                not: setNotClass(val, i)
              }"
              @click="hanlderSkuBtn(item,val)"
            >
              {{val}}
            </button>
          </view>
        </view>
        <view class="sku-count-item">
          <h3>数量</h3>
          <view>
            <button>-</button>
            <span>{{shopSkuSelected.skuCount}}</span>
            <button>+</button>
          </view>
        </view>
        <view class="sku-footer" :class="{
          disabled: shopSkuSelected.skuPrice === '无货'
        }">
          <button @click="handlerAddCar">加入购物车</button>
          <button @click="handlerShop">立即购买</button>
        </view>
      </view>
    </uni-popup>
    <div class="content" v-html="detailData.content"></div>
  </div>
  <div v-else>loading....</div>
</template>
<script>
import { getDetailData } from "@/api/detail"
export default {
  data(){
    return {
      detailId: '',
      detailData: null,
      shopSkuSelected: {
        images: '',  // 商品图片 
        skuPrice: '', // 价格
        skuCount: 1, // 数量
        skuList: []
      }
    }
  },
  watch: {
    'shopSkuSelected.skuList':{
      deep: true,
      handler:function(val){
        const skuName = val.map(({propertyCheckedName}) => propertyCheckedName).join(' ') + ' ';
        const curProperty = this.detailData.skuList.find(item => item.skuName === skuName);
        this.shopSkuSelected.skuPrice = curProperty ? ('¥' + curProperty.price) : '无货';
        this.shopSkuSelected.images = curProperty ? curProperty.pic : this.shopSkuSelected.images;
      }
    }
  },
  computed: {
    skuInfo(){
      return `${this.shopSkuSelected.skuList.map(({propertyCheckedName}) => propertyCheckedName).join(',')},${this.shopSkuSelected.skuCount}件`
    }
  },
  onLoad(option){
    this.detailId = option.id;
    this.getDetailData();
  },
  methods:{
    hanlderShowPopup(){
      this.$refs.popup.open();
    },
    setNotClass(val, index){
      // console.log(val, index); // []
      const properties = this.shopSkuSelected.skuList.map(item => item.propertyCheckedName);
      properties[index] = val;
      // console.log(properties);
      return !this.detailData.skuList.find(item => item.skuName === properties.join(' ') + ' ');
    },
    async getDetailData(){
      const data = await getDetailData(this.detailId);
      data.content = this.setStyle(data.content);
      this.detailData = data;
      this.formatSkudata(this.detailData.skuList)
    },
    hanlderSkuBtn(skuItem, curProperty){
      // console.log(skuItem, curProperty);
      skuItem.propertyCheckedName = curProperty;
    },
    // 格式化sku数据
    formatSkudata(skuList){
      const { properties } = skuList[0];
      this.shopSkuSelected.skuList = properties.split(';').map((item,i) => {  // 3
        const [key] = item.split(':');
        const propertyArr = [...new Set(skuList.map(({skuName}) => skuName.split(/\s/)[i]))];
        return {
          propertyName: key,
          propertyArr,
          propertyCheckedName: propertyArr[0]
        }
      })
      console.log(this.shopSkuSelected);
    },
    setStyle(content){
      // console.log(content);
      return content.replace(/img.+style\=\"/g, ($0) => {
        return `${$0}width:100%; `
      })
      .replace(/width=\"\d+\"/g, 'widht="100%"')
      .replace(/height=\"\d+\"/g, 'height="auto"')
    },
    handlerAddCar(){
      console.log('加入购物车')
    },
    handlerShop(){
      console.log('立即购买')
    }
  }
}
</script>
<style scoped lang="scss">
  .sku-container{
    background: #fff;
    .sku-dl {
      display: flex;
      img {
        width: 200px;
        height: 200px;
      }
    }
    .sku-item {
      &>view {
        display: flex;
        button {
          flex:1;
          font-size: 12px;
          white-space: nowrap;
        }
        button.active {
          background: red;
        }
        button.not {
          background: #333;
        }
      }
    }
    .sku-count-item {
      display: flex;
      justify-content: space-between;
      &>view {
        display: flex;
        button {
          width: 40px;
          height: 40px;
          text-align: center;
          line-height: 40px;
        }
      }
    }
    .sku-footer {
      display: flex;
    }
    .sku-footer.disabled button{
      background: #999;
      pointer-events: none;
    }
    .sku-footer button {
      flex:1;
      pointer-events: auto;
    }
  }
  
  
</style>