<!--
 * @Author: Yh
 * @LastEditors: Yh
-->
<script>
	import {isH5, isWxin} from "@/utils/utils"
	import {login} from "@/api/user"
	export default {
		// 小程序特有的生命周期
		beforeCreate() {
			console.log('beforeCreate')
		},
		onLaunch: function() {
			console.log('App Launch')
		},
		onShow: function() {
			console.log('App Show')
			console.log(process.env); // 获取环境变量
			// 通过process.env 判断是微信小程序还是h5
			// 这两个平台的登录方式不一样
			if(isH5){
				alert('不支持登录')
			}
			if(isWxin){ // 微信小程序
				console.log(wx); // 确定是微信小程序之后可以使用wx原生方法
				// 执行微信小程序登陆流程拿到用户标识
				// 1. 拿到code
				uni.login({
					success({code}){
						// 2. 发送接口请求
						login(code).then((data) => {
							try{
								uni.setStorageSync('userinfo', {
									...data
								})
							}catch(error){
								console.log(error);
							}
						
						})
					},	
					fail(error){
						console.log(error);
					}
				})
			}
		},
		onHide: function() {
			console.log('App Hide')
		}
	}
</script>

<style>
	/*每个页面公共css */
</style>
